<!-- <p>dashboard works!</p> -->
<div class="container">
    <h2>Dashoard</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S/N</th>
                <th>title</th>
                <th>created_at</th>
                <th>updated_at</th>
                <!-- <th>Author</th> -->
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
            <tr *ngFor="let List of bookLists; let i = index" [attr.data-index]="i">
                <td>{{i + 1}} </td>
                <td>{{List.title}}</td>
                <td>{{List.created_at}}</td>
                <td>{{List.updated_at}}</td>
                <!-- <td>{{List.author_id}}</td> -->
                <td><button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)=viewComment(List.id)>Add
                        Comment</button> | <button type="button" class="btn btn-info" data-toggle="modal"
                        data-target="#myModalComment" (click)=getComments(List.id)>View Comment</button> | <button
                        type="button" class="btn btn-info" data-toggle="modal" data-target="#viewAuthor"
                        (click)=getAnAuthor(List.author_id)>View Author</button>
            </tr>
        </tbody>
    </table>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add comment</h4>
            </div>
            <div class="modal-body">
                <p>Please add comment here</p>
                <p *ngIf="message">{{message}}!</p>
                <form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value)">
                    <input type="text" name="comment" placeholder="comment" ngModel>
                    <br />
                    <input type="submit" value="submit">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModalComment" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Please add comment here</p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>comment</th>
                            <th>created_at</th>
                            <th>updated_at</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tbody>
                        <tr *ngFor="let List of commentLists; let i = index" [attr.data-index]="i">
                            <td>{{i + 1}} </td>
                            <td>{{List.comment}}</td>
                            <td>{{List.created_at}}</td>
                            <td>{{List.updated_at}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div id="viewAuthor" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">View Author</h4>
            </div>
            <div class="modal-body">
                <p>View Author</p>

                <input type="text" hidden name="id" readonly placeholder="First Name" [ngModel]="id">
                <br />

                <label>First Name:</label><br />
                <input type="text" name="first_name" readonly placeholder="First Name" [ngModel]="first_name">
                <br />

                <label>LastName:</label><br />
                <input type="text" name="last_name" readonly placeholder="Last Name" [ngModel]="first_name">
                <br />

                <label>Email:</label><br />
                <input type="text" name="email" readonly placeholder="Email" [ngModel]="email">
                <br />

                <label>Location:</label><br />
                <input type="text" name="location" readonly placeholder="Location" [ngModel]="location">
                <br />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>